{% extends 'navbar/navbar.html' %}

{% block content %}

{% load static %}
<link href="{% static 'css/display.css' %}" rel="stylesheet">
<style>
    th{
        color:rgb(240, 216, 7);
        font-size: 30px;
    }
    td{
        font-size: 20px;
    }
</style>



<h2 align="center" style="padding-top:10px">Book Details</h2>

<table class="table" style="border: 5px solid rgb(243, 181, 9);height:100px;color:black" width="500px">
    <tr>
        <th>Book_name</th>
        <th>Author_name</th>
        <th>Course_name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for i in books %}
        <tr style="font:bold">
            <td>{{ i.book_name }}</td>
            <td>{{ i.author_name }}</td>
            <td>{{ i.course_name }}</td>
            <td><a href="{% url 'up' i.id %}">update</a></td>
            <td><a href="{% url 'del' i.id %}">delete</a></td>

        </tr>
    {% endfor %}

</table>


{% endblock  %}